<nav>
    <div class="navbar">
        <a href="/" class="logo">🌎 <span>PaísesApp</span></a>
        <ul>
            <li><a href="/">🏠 Inicio</a></li>
            <li><a href="/paises/dashboard">📋 Lista de Países</a></li>
            <li><a href="/paises/agregar">➕ Agregar País</a></li>
            <li><a href="/paises/about">📖 Acerca de</a></li>
        </ul>
    </div>
</nav>